.k{
    color: aquamarine;
}
#m{
    color: blue;
}
h1 {
    color: aliceblue;
}
h1{
    color: brown !important;
}
.ñ{
    color: bisque;
}
#l{
    color: indigo;
}
.form__input{
    color: rgb(25, 105, 175);
}
.hola__input:first-child{
    color: blueviolet;
}
.hola__input--active{
    color: brown;
}